<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- PC Casa - SQL Express -->
		
		<add name="ServicioDB"
			 connectionString="Data Source=localhost;Initial Catalog=Reserva2_Servicio;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
		<add name="NegocioDB"
			 connectionString="Data Source=localhost;Initial Catalog=Reserva2_Negocio;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	
		<!-- PC Notebook - LocalDB --> <!--
		<add name="ServicioDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Reserva2_Servicio;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
		<add name="NegocioDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Reserva2_Negocio;Integrated Security=True"
			 providerName="System.Data.SqlClient"/> 	-->

	</connectionStrings>
</configuration>