<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServicioDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Reserva2_Servicio;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="NegocioDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Reserva2_Negocio;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>